<div class='response'>
  <p>Response</p>
  <div class='response-status'>
    <%= link.status %>
  </div>
  <div class='response-body'>
    <% if link.target_schema.present? %>
      <pre><%= JSON.pretty_generate(example_response(link.target_schema)) %></pre>
    <% end %>
  </div>
</div>

