<h1 class='page-header'><%= @resource.title %></h1>
<p><%= @resource.description %></p>
<h2>Property</h2>
<%= render 'properties', properties: @resource.properties, required: @resource.required %>
<h2>Links</h2>
<ul>
<% @resource.links.each do |link| %>
  <li><%= link_to link.title, controller: 'links', action: 'show', method: link.method, href: link.route_path %></li>
<% end %>
</ul>

